<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="LockedOrientationActivity">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- Permiso para acceder a internet -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- Permiso para ubicacion -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- Permiso para ubicacion -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- Proveedor de mosaicos en línea -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:configChanges="keyboardHidden|orientation|screenSize"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/icono_app"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.GeoChallenge"
        tools:targetApi="31">
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".Mapa"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Brujula"
            android:exported="false"
            android:screenOrientation="portrait" />

        <service android:name=".Service.GymkhanaService" />

        <activity
            android:name=".MisGymkhanas"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HubJugando"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DetallesGymkhana"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ApuntarseGymkhana"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TiempoMeteorologico"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DetallesConsejos"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ConsejosP"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ConsejosS"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LugarGymkhana"
            android:exported="false"
            android:label="@string/title_activity_lugar_gymkhana"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.GeoChallenge.NoActionBar" />
        <activity
            android:name=".Hub"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.GeoChallenge.NoActionBar" />
        <activity
            android:name=".DetallesPrueba"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MuestraGymkhana"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CrearPruebas"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CrearGymkhana"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VerificarCuenta"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OlvidePwd"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Perfil"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CrearCuenta"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>